<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE-edge">
	<title>Thêm mới sản phẩm</title>
	<!--Latest compiled and minified CSS-->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

	<!--Optional theme -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

	<!--Latest compiled and minified JavaScript-->
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/jv/bootstrap.min.jv"></script>

	<!-- include libraries(jQuery, bootstrap) -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- include summernote css/js -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.js"></script>
    <style type="text/css">
		body
		{
			background-color: white ;
		}
	</style>
</head>
<body>
	<div class="container">
	<h3 align="center">Add New Product</h3>
	<hr>
	    <form action="/add/add-database" method="POST">
	    	<div class="form-group">
	    		<label for="">Name</label>
	    		<input type="text" class="form-control" id="" placeholder="" name="name">
	    	</div>
	    	{{!-- <div class="form-group">
	    		<label for="">Info</label>
	    		<input type="text" class="form-control" id="" placeholder="" name="Info">
	    	</div> --}}
	    	<div class="form-group">
	    		<label for="">CPU</label>
	    		<input type="text" class="form-control" id="" placeholder="" name="cpu">
	    	</div>
	    	<div class="form-group">
	    		<label for="">Image Link</label>
	    		<input type="text" class="form-control" id="" placeholder="" name="Image">
	    	</div>
	    	<div class="form-group">
	    		<label for="">RAM</label>
	    		<input type="text" class="form-control" id="" placeholder="" name="ram">
	    	</div>
	    	<div class="form-group">
	    		<label for="">Monitor</label>
	    		<input type="text" class="form-control" id="" placeholder="" name="monitor">
	    	</div>
	    	<div class="form-group">
	    		<label for="">VGA</label>
	    		<input type="text" class="form-control" id="" placeholder="" name="vga">
	    	</div>
	    	<div class="form-group">
	    		<label for="">Memory</label>
	    		<input type="text" class="form-control" id="" placeholder="" name="memory">
	    	</div>
	    	<div class="form-group">
	    		<label for="">Detail</label>
	    		    <textarea class="form-control" id="detail" placeholder="" name="detail" rows="8" ></textarea>
	    	</div>
	    	{{!-- <div class="form-group">
	    		<label for="">Type</label>
	    		<select name="Category_id" class="form-control">
	    			<option value="">Select options</option>
	    			<option value="">Laptops</option>
	    			<option value="">PC</option>
	    		</select>
	    	</div> --}}
	    	<div class="form-group">
	    		<label for="">Price</label>
	    		<input type="text" class="form-control" id="" placeholder="" name="price">
	    	</div>
	    	<button style="float: left;" type="submit" class="btn btn-primary">Create</button>
			
	    </form>
		<form action="/add/turn-back" method="GET">
		<button type="submit" style="float: right;" class="btn btn-success">Turn Back</button>
		</form>
	</div>

	  <script type="text/javascript">
        $(document).ready(function() {
        $('#detail').summernote({tablezie: 2, height: 400});
        });
    </script>
</body>
</html>
